.matchingGame {
  color: white;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.matchingGame h1 {
  font-size: 48px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.matchingChoices {
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
  width: 400px;
}

.matchingChoices button {
  color: white;
  background-color: rgb(255,0,0);
  border: 1px solid white;
  font-size: 16px;
  height: 60px;
  width: 250px;
}

.matchingChoices button:hover {
  background-color: rgb(208,0,0);
}

.matchingChoices button:active {
  background-color: rgb(158,0,0);
}

.nextMatching {
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translate(-50%, -50%);
}

.matchingScoreBox {
  border: 5px solid green;
  text-align: center;
  color: green;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 560px;
}
