* {
	font-family: Verdana, sans-serif;
	background-color: rgb(230,230,250);
}

#container {
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	margin-top: 0px;
	padding-top: 0px;
	width: 1000px;
	background-color: white;
	box-shadow: 5px 0px 15px;
	min-height: 850px;
	z-index: 10;
}

#header {
	position: sticky;
	top: 0px;
}

/* GRID ITEMS FOR GAMES */

.grid-container {
	display: inline-grid;
  	grid-column-gap: 10px;
  	grid-row-gap: 10px;
  	grid-template-columns: auto auto auto;
  	background: none;
  	padding: 0px;
  	position: absolute;
  	transform: translateX(-50%);
  	left: 50%;
  	top: 300px;
  	z-index: -1;
}

.grid-item {
	background-color: rgba(245, 245, 245, 0.8);
  	border: 1px solid black;
  	padding: 20px;
  	color: black;
  	font-size: 20px;
  	text-align: center;
  	width: 200px;
  	height: 200px;
}

.grid-item:hover {
	box-shadow: 2px 2px 15px black;
}

canvas {
	border: 3px solid;
	
}

/* NAVIGATION */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

li a:hover {
    background-color: #111;
}

h1 {
	background: none;
	font-size: 40px;
	padding-left: 30px;
}

a {
	background: none;
	text-decoration: none;
}

li a.active {
	background-color: rgb(180, 180, 180);
	color: black;
}

hr {
	border-color: black;
}